<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center center" fxFlexOffset="20px">
    <div fxLayout="column" fxFlex="90%" fxFlexAlign="center">
      <h2 class="mat-title">School Configuration</h2>
      <p class="mat-subheading-2">Only change this if you know what you're doing</p>
      <form fxLayout="row" fxFlex="100%" (ngSubmit)="onSubmit()" #schoolDetailsForm="ngForm">
        <div fxLayout="column" fxFlexFill>
          <mat-form-field appearance="outline">
            <mat-label>School Details (JSON)</mat-label>
            <textarea matTextareaAutosize matInput type="text" required [(ngModel)]="schoolDetailsJson" name="schoolDetailsJson"></textarea>
          </mat-form-field>
          <button mat-raised-button type="submit" color="primary" [disabled]="!schoolDetailsForm.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>