.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;
}

mat-toolbar .icon {
  padding: 0 14px;
}

mat-toolbar .spacer {
  flex: 1 1 auto;
}

#app-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
}

.backgroundFill {
  background-color: #f5f5f5;
}

.primaryFill {
  background-color: #3f51b5;
  background-image: linear-gradient(0deg, #00b0ff 20%, #3f51b5 80%);
}

#container {
  min-height: 100%;
  position: relative;
}
#body {
  padding-bottom: 60px; /* Height of the footer */
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  color: #212121;
}
#footer.backgroundFill {
  background-color: #EEEEEE !important;
  color: #212121;
}
#footer.primaryFill {
  background-color: #00b0ff !important;
  background-image: none;
  color: #ffffff;
}
#footer p {
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
  margin: auto;
}
#footer p :link {
  text-decoration: underline;
}
#footer.primaryFill p :link {
  color: #ffffff;
}
#footer.backgroundFill p :link {
  color: #212121;
}
#footer p :visited {
  color: inherit;
}
#footer p :hover {
  color: #12dd99;
}
