  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  mat-toolbar .icon {
    padding: 0 14px;
  }
  
  mat-toolbar .spacer {
    flex: 1 1 auto;
  }

  #content {
    width: 100%;
    min-height: 100%;
  }

  .backgroundFill {
    background-color: #F5F5F5;
  }

  .primaryFill {
    background-color: #673ab7;
  }