mat-grid-tile {
    background: #ECEFF1;
    text-align: center;
}

#title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
}

.break {
    background: #ffffff;
}
.break p {
    color: #afafaf;
}

.event {
    background: #CFD8DC;
}

.event.selected {
    background: #A5D6A7;
}

mat-grid-list .header {
    background-color: white;
}

mat-grid-tile p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}