<div fxLayout="column" style="padding-bottom: 2em">
  <div fxFlexOffset="20px" fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="70%" fxFlex.lg="40%" fxFlex.lt-md="95%" fxLayoutGap="0px">
      <mat-progress-bar mode="indeterminate" *ngIf="events == undefined"></mat-progress-bar>
      <h2 class="mat-title" *ngIf="events != undefined">Join {{userDetails.requiredEventCount - selectedEventCount}} Directed Study periods.</h2>
      <p *ngIf="events != undefined">Click on Directed Study periods to toggle your choices. Make sure they don't clash with any other lessons on your timetable.</p>
    </div>
  </div>
  <ng-container *ngIf="sessions">
    <div fxFlexOffset="20px" fxLayout="row" fxLayoutAlign="center" *ngFor="let weekIndex of school?.timetable.weekData.names.length | ngForNumberLoop">
      <div fxFlex="70%" fxFlex.lg="40%" fxFlex.lt-md="95%">
        <mat-card>
          <h2 class="mat-title">{{school?.timetable.weekData.names[weekIndex]}}</h2>
          <mat-grid-list [cols]="school?.timetable.dayData.names.length" rowHeight="{{isHandset ? '1:1' : '3:1' }}">
            <!-- Headers -->
            <mat-grid-tile class="header" *ngFor="let dayName of school?.timetable.dayData.names">
              <p class="mat-subheading-1">{{dayName}}</p>
            </mat-grid-tile>
            <!-- Sessions -->
            <div *ngFor="let sessionIndex of (school?.timetable.sessionData.count + school?.timetable.sessionData.breakAfter.length) | ngForNumberLoop">
              <mat-grid-tile *ngFor="let dayIndex of school?.timetable.dayData.names.length | ngForNumberLoop" [class.break]="sessions[weekIndex][dayIndex][sessionIndex].break"
                [rowspan]="sessions[weekIndex][dayIndex][sessionIndex].break ? '1' : '2'">
                <div fxFlexFill matRipple fxLayout="column wrap" fxLayoutAlign="center center" *ngIf="sessions[weekIndex][dayIndex][sessionIndex].events?.length; else noEvent"
                  [class.event]="sessions[weekIndex][dayIndex][sessionIndex].events.length > 0" [class.selected]="isSelected(sessions[weekIndex][dayIndex][sessionIndex])"
                  (click)="onSelect(sessions[weekIndex][dayIndex][sessionIndex].events)">
                  <ng-container *ngIf="sessions[weekIndex][dayIndex][sessionIndex].events.length === 1; else manyEvents">
                    <p class="mat-body-2">
                      {{sessions[weekIndex][dayIndex][sessionIndex].events[0].event.name}}</p>
                    <p class="mat-body-1">{{sessions[weekIndex][dayIndex][sessionIndex].events[0].event.participants.length}} / {{sessions[weekIndex][dayIndex][sessionIndex].events[0].event.capacity}}</p>

                  </ng-container>
                  <ng-template #manyEvents>
                    <p class="mat-body-2">{{sessions[weekIndex][dayIndex][sessionIndex].events?.length}} sessions</p>
                    <p class="mat-caption" style="margin: 0px" *ngFor="let multipleSession of sessions[weekIndex][dayIndex][sessionIndex].events">{{multipleSession.event.participants.length}} / {{multipleSession.event.capacity}}</p>
                  </ng-template>
                </div>
                <ng-template #noEvent>
                  <ng-container *ngIf="!sessions[weekIndex][dayIndex][sessionIndex].break; else break">
                    <p class="mat-caption">No Event</p>
                  </ng-container>
                  <ng-template #break>
                    <p class="mat-caption">break</p>
                  </ng-template>
                </ng-template>
              </mat-grid-tile>
            </div>
          </mat-grid-list>
        </mat-card>
      </div>
    </div>
  </ng-container>
</div>