<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center center" fxFlexOffset="20px">
    <button mat-fab color="primary" (click)="addStudent()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxFlex="grow" fxFlexOffset="20px">
    <div fxFlex="90%" class="mat-elevation-z1" style="margin-bottom: 1em">
      <table style="width:100%" mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="displayName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{row.displayName}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let row">{{row.email}}</td>
        </ng-container>

        <ng-container matColumnDef="requiredSessionCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sessions</th>
          <td mat-cell *matCellDef="let row">{{row.requiredSessionCount}}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
          <td mat-cell *matCellDef="let row">
            <button mat-flat-button color="primary" (click)="openEditDialog(row)">Edit</button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
      </mat-paginator>
    </div>
  </div>
</div>